In [43]:
import pandas as pd
import numpy as np

In [44]:
car=pd.read_csv("/Users/shivanshmahajan/Desktop/DataScinece/Machine Learning/Projects/Car price /quikr_car.csv")

In [45]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

# cleaning

In [46]:
backup=car.copy()

In [47]:
car=car[car['year'].str.isnumeric()]

In [48]:
car['year']=car['year'].astype(int)

/var/folders/q2/mr2wxd253jl7621ph74vbnwr0000gn/T/ipykernel_47319/152728128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=car['year'].astype(int)

In [49]:
car=car[car['Price']!="Ask For Price"]

In [50]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [51]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [52]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [53]:
car=car[car['kms_driven'].str.isnumeric()]

In [54]:
car['kms_driven']=car['kms_driven'].astype(int)

In [55]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [56]:
car=car[~car['fuel_type'].isna()]

In [57]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [58]:
car=car.reset_index(drop=True)

In [59]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [60]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [61]:
car.to_csv('Cleaned Car.csv')

In [62]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

# Model

In [63]:
x=car.drop(columns='Price')
y=car['Price']

In [64]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [67]:
ohe=OneHotEncoder()

In [68]:
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [69]:
column_transformer=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [70]:
lr=LinearRegression()

In [71]:
pipe=make_pipeline(column_transformer,lr)

In [72]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [73]:
y_predict=pipe.predict(X_test)

In [74]:
y_predict

array([ 201201.35362165,  195073.09387746,  310380.61575653,
        449601.43017858,  337899.7824109 ,  385342.01988767,
        689856.76940382,  645622.03333726,  111435.47836946,
        653815.05024698,  631469.99388084,  242337.64130615,
         96020.06201882,  460240.34514633,  499845.38526323,
        477911.23674507,  556011.39111679,  427793.74154233,
        373103.20786638,  645350.25917333,  608079.2123789 ,
        -36550.36271146,  295680.03756639,  359207.75144842,
        540090.04477548,  643863.08789199,  211031.37957325,
        538768.11474762,  257846.95876565,  385342.01988767,
        372706.38424455,  309327.13820405,  435291.90331307,
        395319.73968071,  185425.31024743,  409261.4377235 ,
       2177157.80022093,  215630.586257  ,  321849.36708599,
        395574.623449  ,  216733.3996781 ,  146181.69931749,
        159433.20919956,  276933.85671856,  490405.87697256,
        295680.03756639,  582832.29243033,  318883.46950353,
        788810.00701312,  177915.85052016,  538974.97150425,
        292523.44988517,  729318.19436998,  242403.73780754,
        293153.24952658,  196990.06781259,  127104.79591171,
         31664.03525943,  309386.62489299,  292157.05247979,
        218191.96942089,  293656.27157094,  242054.7357569 ,
        267377.86074388,  521169.5096003 ,  378025.00239748,
        384780.63916385,  660281.12267349,  422642.33773978,
        389865.77349851,  206404.62447575,  431189.02275664,
        572103.24534588,  231255.83404398,  468628.63704547,
        655512.23993253,  368203.61283944,  609407.372296  ,
        338409.10103276,  258547.34019663,  324424.02369787,
        362279.58582684,  647895.79041913,  436593.56386385,
        523449.83889836,  519154.66792361,   81052.81496333,
       1075012.02713282,  136062.93155765,  138574.78566246,
        197481.32039087,  437074.77154505,   44510.85356007,
        540052.81218122,  297496.23331306,   85175.51699823,
       -230043.80378452,  554334.34649882,  603682.67900918,
        269442.50796709,  355907.7331899 ,  440825.80947252,
        440498.63179062,  389877.92027321,  336278.35167391,
       -172656.7028822 ,  436981.87526526,  226784.51460195,
        556011.39111679,  442372.7027816 ,  204230.55430092,
         99655.36959542,  548001.95035639,   33425.21777176,
        300172.04552951,    6053.4631775 ,  374526.31346421,
       1147684.26877693,  353471.87585649,  228783.55476459,
        689856.76940382,  440286.7003349 ,  388618.87236044,
        315570.7178321 ,  617771.28750177,  748637.65880629,
        489269.94504038,  554003.86399186,  535652.18553812,
        710701.79661028,  405911.16958763,   21709.5690111 ,
        640884.06494233,  322713.94055089, 1040562.62485847,
        289822.67449015,  431499.30652624,  288364.10474736,
        353611.29635311,  146181.69931749,  182088.22633433,
        359381.14536356, 1563811.05920327, -114844.88539619,
        407442.36057736, -120793.57052154,  432804.42199678,
       1390154.29249293, 2177323.04147441,   41787.66834197,
        400789.61829224,  321457.07215194,  542075.60960896,
        482351.72813312,  318656.19826831, -202358.12903801,
        296963.88830015,  468059.58428206,  131957.07776827,
        474589.31467863,  210921.35426768, -110809.65235288,
        442688.52620754])

In [75]:
r2_score(y_test,y_predict)

0.6882481412678749

In [76]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_transformer,lr)
    pipe.fit(X_train,y_train)
    y_predict=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_predict))

In [77]:
np.argmax(scores)

433

In [78]:
scores[np.argmax(scores)]

0.845704182009523

In [79]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=433)
lr=LinearRegression()
pipe=make_pipeline(column_transformer,lr)
pipe.fit(X_train,y_train)
y_predict=pipe.predict(X_test)
r2_score(y_test,y_predict)

0.845704182009523

In [80]:
import pickle

In [81]:
pickle.dump(pipe,open('LinearRegressionModel.pkl'),'wb')

FileNotFoundError: [Errno 2] No such file or directory: 'LinearRegressionModel.pkl'

In [ ]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2020,120,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))